div a{
    text-decoration: none;
}
form input{

    width:40%;
    padding:10px;
    margin:0px 0px 0px 100px;
    border-radius: 10px;
}

form #signup
{
    width:10%;
}
body{
    background-color:beige !important;
}
input, .users
{
    width:40%;
    padding:10px;
    margin:0px 0px 0px 100px;
    border-radius: 10px;
}
button{
    width:10%;
    padding:5px;
    margin-left: 100px !important;
    border-radius: 20px !important;
}